.blogIntro {

    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    background-color: #b0c4de;
    border-radius: 10px;
   
}


#blogPosts {
    
    text-align: center;
    background-color: #d3d3d3;
    border-radius: 5px;
}


.group h3 {
    text-align: center;
    border: 2px;
    border-color: #b0c4de;
    border-style: solid;
    background-color: #b0c4de;
    border-radius: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
