USE [master]
GO
/****** Object:  Database [TechBlogCMS]    Script Date: 8/18/2015 3:21:21 PM ******/
CREATE DATABASE [TechBlogCMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechBlogCMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\TechBlogCMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TechBlogCMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\TechBlogCMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechBlogCMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechBlogCMS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](25) NULL,
	[LastName] [nvarchar](25) NULL,
	[EmployeeTitleID] [int] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlogPost]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BlogPost](
	[BlogPostID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[PostContent] [varchar](max) NOT NULL,
	[StatusID] [int] NOT NULL,
	[DateOfPost] [datetime] NOT NULL,
	[PostTitle] [varchar](200) NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[BlogPostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CategoryOfPost]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CategoryOfPost](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryType] [varchar](50) NOT NULL,
	[CategoryDescription] [varchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[BlogPostID] [int] NOT NULL,
	[CommentContent] [varchar](max) NOT NULL,
	[StatusID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Nickname] [varchar](50) NOT NULL,
	[DateOfComment] [datetime] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeTitle]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeTitle](
	[EmployeeTitleID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeTitleType] [varchar](50) NOT NULL,
	[EmployeeTitleDescription] [varchar](50) NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[EmployeeTitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hashtag]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hashtag](
	[HashtagID] [int] IDENTITY(1,1) NOT NULL,
	[HashtagType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Hashtag] PRIMARY KEY CLUSTERED 
(
	[HashtagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PostCategories]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategories](
	[BlogPostID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_PostCategories_1] PRIMARY KEY CLUSTERED 
(
	[BlogPostID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostHashtags]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostHashtags](
	[BlogPostID] [int] NOT NULL,
	[HashtagID] [int] NOT NULL,
 CONSTRAINT [PK_PostHashtags] PRIMARY KEY CLUSTERED 
(
	[BlogPostID] ASC,
	[HashtagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RejectedPosts]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RejectedPosts](
	[RejectionId] [int] IDENTITY(1,1) NOT NULL,
	[BlogPostID] [int] NOT NULL,
	[RejectionReason] [varchar](100) NOT NULL,
	[DateRejected] [datetime] NOT NULL,
 CONSTRAINT [PK_RejectedPosts] PRIMARY KEY CLUSTERED 
(
	[RejectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StaticPage]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaticPage](
	[StaticPageID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](128) NOT NULL,
	[StaticPageTitle] [varchar](200) NOT NULL,
	[StaticPageContent] [varchar](max) NOT NULL,
	[DateOfPageCreation] [datetime] NOT NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_StaticPage] PRIMARY KEY CLUSTERED 
(
	[StaticPageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Status]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Administrator')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Contributor')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3064041a-5212-4397-bdf6-749321c53ae0', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5d390128-71a8-46c6-b003-1d39fee36687', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c1848986-5444-4ad6-9e64-2bb2b8952478', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [EmployeeTitleID]) VALUES (N'3064041a-5212-4397-bdf6-749321c53ae0', N'kerin@test.com', 0, N'ADv5Da/tzD4W+RNbzPa9D/Pmstfio8LcH9VXlMjaO8/3dULfu2SlzZMz+TzsAjNjoA==', N'ff51d027-0e79-4be4-8b45-fb4f2fd21795', NULL, 0, 0, NULL, 1, 0, N'kileyerin', N'Kiley', N'Erin', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [EmployeeTitleID]) VALUES (N'5d390128-71a8-46c6-b003-1d39fee36687', N'metalfreakj@hotmail.com', 0, N'AARQ04VKC6dFSvtx3+BZxPRVnMfotB8JEBXyFgzRMR9H0aSdrDJxQgYAV5qXqz/QXQ==', N'76f9e8f8-1c10-49f0-9448-d9330c8986c0', NULL, 0, 0, NULL, 1, 0, N'JakeSaliga', N'Jake', N'Saliga', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [EmployeeTitleID]) VALUES (N'c1848986-5444-4ad6-9e64-2bb2b8952478', N'TestEmail@testemail.com', 0, N'AJBtXdqWb9wFSD++tL6awpYlHVMuFQp+ZUDG0O7RR8WX7/nO3e23g3uchwmdFZzGEQ==', N'b68d2a86-52be-480b-a199-670480f1fc82', NULL, 0, 0, NULL, 1, 0, N'TestUserName', N'FirstTest', N'LastTest', NULL)
SET IDENTITY_INSERT [dbo].[BlogPost] ON 

INSERT [dbo].[BlogPost] ([BlogPostID], [UserID], [PostContent], [StatusID], [DateOfPost], [PostTitle]) VALUES (1, N'f319beb5-8a14-40c1-9cb5-0d6c92571ae4', N'<p style="text-align: center;">Welcome to my blog! This is my <em>first</em> post. This blog will include <strong>all</strong> things tech.</p>', 2, CAST(N'2015-08-02 00:00:00.000' AS DateTime), N'Hello World')
INSERT [dbo].[BlogPost] ([BlogPostID], [UserID], [PostContent], [StatusID], [DateOfPost], [PostTitle]) VALUES (2, N'f319beb5-8a14-40c1-9cb5-0d6c92571ae4', N'<p>I recently acquired a FitBit. It''s awesome!</p>
<p>It tracks:</p>
<ul>
<li>Steps</li>
<li>Calories Burned</li>
<li>Miles Walked</li>
<li>Flights of Stairs</li>
<li>..and more!</li>
</ul>', 2, CAST(N'2015-08-04 00:00:00.000' AS DateTime), N'Technology and Fitness')
INSERT [dbo].[BlogPost] ([BlogPostID], [UserID], [PostContent], [StatusID], [DateOfPost], [PostTitle]) VALUES (3, N'f319beb5-8a14-40c1-9cb5-0d6c92571ae4', N'<p>I was listening to NPR today and heard about this new Twitter bot a programmer created to enter contests for him using the Twitter API.&nbsp;</p>', 2, CAST(N'2015-08-09 00:00:00.000' AS DateTime), N'Twitter Bot')
SET IDENTITY_INSERT [dbo].[BlogPost] OFF
SET IDENTITY_INSERT [dbo].[CategoryOfPost] ON 

INSERT [dbo].[CategoryOfPost] ([CategoryID], [CategoryType], [CategoryDescription]) VALUES (1, N'Trends', N'New trends in Technology')
INSERT [dbo].[CategoryOfPost] ([CategoryID], [CategoryType], [CategoryDescription]) VALUES (2, N'.Net', N'All things .Net')
INSERT [dbo].[CategoryOfPost] ([CategoryID], [CategoryType], [CategoryDescription]) VALUES (3, N'MVC', N'Model View Controller')
SET IDENTITY_INSERT [dbo].[CategoryOfPost] OFF
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentID], [BlogPostID], [CommentContent], [StatusID], [UserID], [Nickname], [DateOfComment]) VALUES (1, 1, N'This is a comment test', 1, 0, N'Jake', NULL)
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[Hashtag] ON 

INSERT [dbo].[Hashtag] ([HashtagID], [HashtagType]) VALUES (1, N'tech')
INSERT [dbo].[Hashtag] ([HashtagID], [HashtagType]) VALUES (2, N'trends')
INSERT [dbo].[Hashtag] ([HashtagID], [HashtagType]) VALUES (3, N'news')
SET IDENTITY_INSERT [dbo].[Hashtag] OFF
INSERT [dbo].[PostCategories] ([BlogPostID], [CategoryID]) VALUES (4, 2)
INSERT [dbo].[PostCategories] ([BlogPostID], [CategoryID]) VALUES (5, 2)
INSERT [dbo].[PostCategories] ([BlogPostID], [CategoryID]) VALUES (8, 1)
INSERT [dbo].[PostHashtags] ([BlogPostID], [HashtagID]) VALUES (2, 1)
INSERT [dbo].[PostHashtags] ([BlogPostID], [HashtagID]) VALUES (2, 2)
INSERT [dbo].[PostHashtags] ([BlogPostID], [HashtagID]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[StaticPage] ON 

INSERT [dbo].[StaticPage] ([StaticPageID], [UserID], [StaticPageTitle], [StaticPageContent], [DateOfPageCreation], [StatusID]) VALUES (1, N'f319beb5-8a14-40c1-9cb5-0d6c92571ae4', N'Static Page Save Test 1', N'<h1><em><strong>Disclaimer</strong></em></h1>
<p><em><strong>Do not do these things I say not to do</strong></em></p>', CAST(N'2015-08-18 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[StaticPage] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusID], [StatusType]) VALUES (1, N'Submitted')
INSERT [dbo].[Status] ([StatusID], [StatusType]) VALUES (2, N'Approved')
INSERT [dbo].[Status] ([StatusID], [StatusType]) VALUES (3, N'Rejected')
SET IDENTITY_INSERT [dbo].[Status] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 8/18/2015 3:21:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 8/18/2015 3:21:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 8/18/2015 3:21:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 8/18/2015 3:21:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 8/18/2015 3:21:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 8/18/2015 3:21:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostCategories]    Script Date: 8/18/2015 3:21:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_PostCategories] ON [dbo].[PostCategories]
(
	[BlogPostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_EmployeeTitle] FOREIGN KEY([EmployeeTitleID])
REFERENCES [dbo].[EmployeeTitle] ([EmployeeTitleID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_EmployeeTitle]
GO
ALTER TABLE [dbo].[BlogPost]  WITH CHECK ADD  CONSTRAINT [FK_Post_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[BlogPost] CHECK CONSTRAINT [FK_Post_Status]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Status]
GO
ALTER TABLE [dbo].[PostCategories]  WITH CHECK ADD  CONSTRAINT [FK_PostCategories_CategoryOfPost] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryOfPost] ([CategoryID])
GO
ALTER TABLE [dbo].[PostCategories] CHECK CONSTRAINT [FK_PostCategories_CategoryOfPost]
GO
ALTER TABLE [dbo].[PostCategories]  WITH CHECK ADD  CONSTRAINT [FK_PostCategories_Post] FOREIGN KEY([BlogPostID])
REFERENCES [dbo].[BlogPost] ([BlogPostID])
GO
ALTER TABLE [dbo].[PostCategories] CHECK CONSTRAINT [FK_PostCategories_Post]
GO
ALTER TABLE [dbo].[PostHashtags]  WITH CHECK ADD  CONSTRAINT [FK_PostHashtags_Hashtag] FOREIGN KEY([HashtagID])
REFERENCES [dbo].[Hashtag] ([HashtagID])
GO
ALTER TABLE [dbo].[PostHashtags] CHECK CONSTRAINT [FK_PostHashtags_Hashtag]
GO
ALTER TABLE [dbo].[PostHashtags]  WITH CHECK ADD  CONSTRAINT [FK_PostHashtags_Post] FOREIGN KEY([BlogPostID])
REFERENCES [dbo].[BlogPost] ([BlogPostID])
GO
ALTER TABLE [dbo].[PostHashtags] CHECK CONSTRAINT [FK_PostHashtags_Post]
GO
ALTER TABLE [dbo].[RejectedPosts]  WITH CHECK ADD  CONSTRAINT [FK_RejectedPosts_BlogPost] FOREIGN KEY([BlogPostID])
REFERENCES [dbo].[BlogPost] ([BlogPostID])
GO
ALTER TABLE [dbo].[RejectedPosts] CHECK CONSTRAINT [FK_RejectedPosts_BlogPost]
GO
ALTER TABLE [dbo].[StaticPage]  WITH CHECK ADD  CONSTRAINT [FK_StaticPage_Status1] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[StaticPage] CHECK CONSTRAINT [FK_StaticPage_Status1]
GO
/****** Object:  StoredProcedure [dbo].[SaveStaticPage]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SaveStaticPage]
(
 @UserId nvarchar(128),
 @StaticPageContent varchar(max),
 @StatusID int,
 @DateOfPageCreation datetime,
 @StaticPageTitle varchar(200)
)
as

insert into StaticPage(UserID, StaticPageContent, StatusID, DateOfPageCreation, StaticPageTitle) 
Values(@UserId,@StaticPageContent,@StatusID,@DateOfPageCreation,@StaticPageTitle)
GO
/****** Object:  StoredProcedure [dbo].[SubmitNewBlogPost]    Script Date: 8/18/2015 3:21:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SubmitNewBlogPost]
(
 @UserId nvarchar(128),
 @PostContent varchar(max),
 @StatusID int,
 @DateOfPost datetime,
 @PostTittle varchar(200)
)
as

insert into BlogPost(UserID, PostContent, StatusID, DateOfPost, PostTitle) 
Values(@UserId,@PostContent,@StatusID,@DateOfPost,@PostTittle)




GO
USE [master]
GO
