@model TechBlogCMS.Models.Hashtag
@using (Html.BeginForm("CreateHashtag", "DraftPost", new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <h2>Create a new category</h2>
        @Html.Label("Hashtag Name")
        @Html.TextBoxFor(x => x.HashtagType, new { @class = "form-control" })
        <input type="Submit" value="Submit" />
    </div>
}

