
@{
    ViewBag.Title = "PendingApproval";
}

<h2>Approvals</h2>

<h3>Blog Post Approvals</h3>


<table class="table table-striped">
    <thead>
    <tr>
        <th>User Name</th>
        <th>Post Title</th>
        <th>Post Date</th>
    </thead>
</table>

<h3>Comment Approvals</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Comment</th>
            <th>Comment Date</th>
    </thead>
</table>

